%body.top
  #wrap.gray
    %header#header
      #global-header
        #logo
          %a{:alt => "PR Table", :href => "/"}
            /
              <img src="/assets/logo.svg" width="95" height="21" alt="PR Table">
        %nav#g-nav
          %ul
            %li
              %a{:href => ""} ストーリー
            %li
              %a{:href => ""} 企業
            %li
              %a#topic-trigger{:href => ""} トピック
            %li
              %a{:href => "", :target => "_blank"} PR Tableとは？
        .buttons
          #create
            %a.btn{:href => ""} ストーリーを作成
          #login
            %a.btn{:href => ""} ログイン / 新規登録
          #search
            .search-wrapper{"data-ic-class" => "search-trigger"}
              %i.fa.fa-search
              /
                <form id="search_form">
                <input id="search" type="text" data-ic-class="search-input" placeholder="ストーリーを検索">
                </form>
    .top__header-tags
      %ul
        %li
          %a{:href => ""}
        /
          <li><a href="/tag/research-development">#研究開発</a></li>
          <li><a href="/tag/member">#社員・職員</a></li>
          <li><a href="/tag/ipo">#IPO</a></li>
          <li><a href="/tag/csr">#CSR・社会貢献活動</a></li>
          <li><a href="/tag/internet-of-things">#IoT</a></li>
          <li><a href="/tag/kumamoto">#熊本</a></li>
          <li><a href="/tag/brother">#兄弟</a></li>
          <li><a href="/tag/tokyo-olympic">#東京五輪2020</a></li>

    / .test
    /   - @stories.each do |story|
    /     %ul
    /       %li= story.title
    /       %li= story.story
    /       %li= story.image
    / = link_to 'New story', new_story_path

    %section#p-stories
      .picup-2stories
        .story
          %a
            %p.img
              = image_tag "https://www.pr-table.com/upimgs/story_images/3431/large/b0084ad77a703a89dd8bbdc488e57a5f2dfc3bdb.jpg?1498794653", class: "top_img"
              %span.story-left-name.top-company_name 株式会社ベーシック
              %strong.story-left-title.top-title「何をするか」より「何のためにやるか」。変化し続ける中で、変わらない軸がある
        .story
          %a
            %p.img
              = image_tag "https://www.pr-table.com/upimgs/story_images/3238/large/d06db80f88db01b294fd2759ef368b3458725d9b.jpg?1496725560", class: "top_img"
              %span.story-right-name.top-company_name 龍宮株式会社
              %strong.story-right-title.top-title 時代の変化、幾度の事業転換……それでも70年の歴史と技術が“夢の寝具”を完成させた
    .container
      %main#left-contents
        %section.stories
          - 1.upto(15) do |i|
            .left-contents__block
              %a{:href => ""}
                .hoverground
                  = image_tag "https://www.pr-table.com/upimgs/story_images/3566/large/d846bd9d8bed3525762c6026ffefbcb1f32de77b.jpg?1500895955", class: "middle-img"
                  %strong 前例のない「カンカンの活用」の先には、ワクワクする未来が待っている--Coming soon--
                  %span Cancan株式会社
      #side-contents
        %section.side-stories
          %h2 注目ストーリー
          .side-wrap
            - 1.upto(3) do |i|
              %article
                %a{:href => ""}
                  .hoverground
                    = image_tag "https://www.pr-table.com/upimgs/story_images/1890/large/d527383b6e118ca7a377701e9312f6dd297e8210.jpg?1479378451", class: "side-img"
                    .story-info
                      %strong カンカンカンカン晩餐会！焼肉焼いても家焼くな！！
                      .company-name 日本食研 Network Lab
        %section.side-tags
          %h2 おすすめトピック
          .side-wrap
            %ul
              - 1.upto(10) do |i|
                %li
                  %a{:href => ""} スタートアップ
                %li
                  %a{:href => ""} 晩餐会
            / %ul
            /   - 1.upto(5) do |i|
            /     %li
            /       %a{:href => ""} 空き缶
          .more
            %a{:href => ""}
              %i.fa.fa-chevron-right{"aria-hidden" => "true"}>
              トピック一覧
        %section.side-companylist
          %h2 ストーリー掲載企業
          .side-wrap
            - 1.upto(5) do |i|
              %a{:href => ""}
                %figure
                  .img
                    %img{:alt => "", :src => ""}/
                  %figcaption 株式会社ネオキャリア
          .more
            %a{:href => ""}
              %i.fa.fa-chevron-right{"aria-hidden" => "true"}>
              ストーリー掲載企業一覧
        %section.banner
          %figure
            %a{:href => ""}
              %img{:src => ""}/
    #footer-wrapper
      %footer#footer
        %nav#f-nav
          %ul
            %li
              %a{:href => ""} 新着一覧
            %li
              %a{:href => ""} トピック一覧
            %li
              %a{:href => ""} ストーリー掲載企業一覧
          %ul
            %li
              %a{:href => ""} よくある質問
            %li
              %a{:href => ""} 利用規約
            %li
              %a{:href => ""} プライバシーポリシー
            %li
              %a{:href => ""} 運営会社
            %li
              %a{:href => "", :target => "_blank"} お問い合わせ
            %li
              %a{:href => "", :target => "_blank"} PR Table Labo
        .social-icons
          %ul
            %li
              %a{:href => "", :target => "_blank"}
                %i.fa.fa-facebook{"aria-hidden" => "true"}
            %li
              %a{:href => "", :target => "_blank"}
                %i.fa.fa-twitter{"aria-hidden" => "true"}
            %li
              %a{:href => ""}
                %i.fa.fa-rss{"aria-hidden" => "true"}
        %address
          %p.copyright ©PR Table Inc.
