//変数定義



//関数定義



//アイコンやスタイルのまとめ
  .btn{
    display: block;
    border: 1px solid #CCC;
    border-radius: 20px;
    line-height: 30px;
    color: #666;
    padding: 0 2em;
    font-size: 0.8rem;
    text-decoration: none;
 }

.top-company_name {
    color: #FFF;
    font-size: 1.2rem;
    font-weight: bold;
    -webkit-text-stroke: 0.5px black;
    text-shadow: 1.5px 1.5px black;
    font-weight: bold;
    letter-spacing: normal;
    font-family: "ＭＳ Ｐゴシック";
}

.top-title {
    color: #FFF;
    font-size: 1.3rem;
    font-weight: bold;
    -webkit-text-stroke: 0.5px black;
    text-shadow: 1.5px 1.5px black;
    font-weight: bold;
    letter-spacing: normal;
    font-family: "ＭＳ Ｐゴシック";
}
