    .social-icons {
      text-align: center;
      padding: 2em;
      ul {
    // list-style: none;
    margin-left: 2rem;
    li {
      display: inline-block;
      vertical-align: middle;
      letter-spacing: 2rem;
      box-sizing: border-box;
      font-size: 2rem;
      // margin: auto;
    }
  }
}
address {
  letter-spacing: normal;
  text-align: center;
  font-size: 1rem;
  padding-bottom: 4em;
  p {
    box-sizing: border-box;
  }
}
