    #header {
      position: relative;
      height: 60px;
      background-color: #FFF;
      border-bottom: 1px solid #EBEBEB;
      #global-header{
        margin: auto;
        width: 1240px;
        padding: 0 2em;
        height: 60px;
        line-height: 60px;
        display: table;
        table-layout: fixed;
        line-height: 60px;
        white-space: nowrap;
        #logo {
          display: table-cell;
          vertical-align: middle;
          width: 95px;
          padding-left: 2em;
          a {
            color: #333;
            text-decoration: none;
            img {
              border: none;
              vertical-align: middle;
            }
          }
        }
        #g-nav {
          padding-left: 6em;
          ul {
            line-style: none;
            display: block;
            float: left;
            li {
              // display: list-item;
              vertical-align: middle;
              display: table-cell;
              padding-right: 2em;
              a {
                text-decoration: none;
              }
            }
          }
        }
        .buttons {
          padding-left: 3em;
          display: table-cell;
          vertical-align: middle;
          box-sizing: border-box;
          letter-spacing: normal;
          #create {
            display: table-cell;
            padding: 0 0.5em;
            a.btn{
            }
          }
          #login {
            display: table-cell;
            padding: 0 0.5em;
            a.btn{
            }
          }
          #search {
            padding-left: 1rem;
            display: table-cell;
            font-size: 22px;
            color: #CCC;
            cursor: pointer;
            .search-wrapper {
              display: block;
              box-sizing: border-box;
              border-radius: 40px;
              height: 40px;
              line-height: 40px;
              width: 40px;
              position: relative;
              top: 50%;
                // transition: width 0.2s ease-out;
                // backface-visibility: hidden;
                i {
                  // position: absolute;
                  // vertical-align: middle;
                  // left: 10px;
                // font-weight: normal;
              }
              .fa {
                // display: inline-block;
                // font: normal normal normal 14px/1 FontAwesome;
              }
              #search-form {
                clearfix: both;
                display: block;
                #search {
                }
              }
            }
          }
        }
      }
    }

    .header-tags {
      ul {
        li {
          a {
          }
        }
      }
    }
