#footer-wrapper
  %footer#footer
    .social-icons
      %ul
        %li
          %a{:href => "", :target => "_blank"}
            %i.fa.fa-facebook{"aria-hidden" => "true"}
        %li
          %a{:href => "", :target => "_blank"}
            %i.fa.fa-twitter{"aria-hidden" => "true"}
        %li
          %a{:href => ""}
            %i.fa.fa-rss{"aria-hidden" => "true"}
    %address
      %p.copyright ©PR Table Inc.
