#footer-wrapper
  %footer#footer
    %nav#f-nav
      %ul
        %li
          %a{:href => ""} 新着一覧
        %li
          %a{:href => ""} トピック一覧
        %li
          %a{:href => ""} ストーリー掲載企業一覧
      %ul
        %li
          %a{:href => ""} よくある質問
        %li
          %a{:href => ""} 利用規約
        %li
          %a{:href => ""} プライバシーポリシー
        %li
          %a{:href => ""} 運営会社
        %li
          %a{:href => "", :target => "_blank"} お問い合わせ
        %li
          %a{:href => "", :target => "_blank"} PR Table Labo
