%h2 社会属性診断
.side-wrap
  %p
    %input#name{type: "text", value: ""}/
  %p
    %input#getResult{type: "button", value: "診断！"}/
  %h3 【診断結果】
  %p#result こちらに結果が表示されます。
  #tweet
  %script.topCDScript{src: "http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"}
  :javascript
    $(function() {
        $('#getResult').click(function() {
            // 名前の取得
            var name = $('#name').val();
            if (name === "") {
                alert('名前を入力してください！');
                return;
            }

            // typeの取得
            var types = ['社長', '自営業者', '会社員', 'タレント', 'エリート会社員'];
            var type = types[Math.floor(Math.random() * types.length)];

            // characterの取得
            var characters = ['賢い', '勇ましい', 'かわいい', '情けない', '頼りない'];
            var character = characters[Math.floor(Math.random() * characters.length)];

            // 結果の表示
            var result = name + 'さんは「' + character + type + '」タイプです！';
            $('#result').text(result);

            // ツイートリンクの表示
            var tweetLink = "<a href='https://twitter.com/intent/tweet?text=" + encodeURIComponent(result) + "&hashtags=PRTadashi' target='_blank'>ツイートする</a>";
            $('#tweet').html(tweetLink);
        });
    });
